{% extends "static\general_extend.html" %}{% load static %}

{% block title %} Обо мне {% endblock %}

{% block head_temp %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static '\css\style_about.css' %}"/>
{% endblock %}

{% block content %}
    <div class="personal-info">
        <div class="user-photo">
        {% if account.sex == "м" %}
            <p><img src="{% static '\css\img\male.png' %}" alt="фото" width="450" height="450"></p>
        {% else %}
            <p><img src="{% static '\css\img\female.png' %}" alt="фото" width="450" height="450"></p>
        {% endif %}
        </div>

        <div class="user-table">
            <!--<div>
                <table>
                    <thead>
                        <tr>    <th colspan="2">Личные данные</th> </tr>
                    </thead>

                    <tbody>
                        <tr>    <td class="item">Фамилия</td>            <td class="mean">{{account.surname}}</td> </tr>
                        <tr>    <td class="item">Имя</td>                <td class="mean">{{account.firstname}}</td> </tr>
                        <tr>    <td class="item">Отчество</td>           <td class="mean">{{account.patronymic}}</td> </tr>
                        <tr>    <td class="item">Логин</td>              <td class="mean">{{account.login}}</td> </tr>
                        <tr>    <td class="item">Дата рождения</td>      <td class="mean">{{account.date_of_birth}}</td> </tr>
                        {% if account.sex == "м" %}
                            <tr>    <td class="item">Пол</td>                <td class="mean">мужской</td> </tr>
                        {% else %}
                            <tr>    <td class="item">Пол</td>                <td class="mean">женский</td> </tr>
                        {% endif %}
                        <tr>    <td class="item">Мобильный телефон</td>  <td class="mean">{{account.mobile_phone}}</td> </tr>
                        <tr>    <td class="item">Электронная почта</td>  <td class="mean">{{account.email}}</td> </tr>
                        <tr>    <td class="item">Статус</td>             <td class="mean">{{account.type_role}}</td> </tr>
                    </tbody>
                </table>
            </div>-->


            <div>
                <table class="profile-table">
                    <tr>    <td><b>Фамилия</b></td>                     <td>{{account.surname}}</td> </tr>
                    <tr>    <td><b>Имя</b></td>                         <td>{{account.firstname}}</td> </tr>
                    <tr>    <td><b>Отчество</b></td>                    <td>{{account.patronymic}}</td> </tr>
                    <tr>    <td><b>Статус</b></td>                      <td>{{account.type_role}}</td> </tr>
                    <tr>    <td><b>Логин</b></td>                       <td>{{account.login}}</td> </tr>
                    
                    {% if account.sex == "м" %}
                    <tr>    <td><b>Пол</b></td>                         <td>мужской</td> </tr>
                    {% else %}
                    <tr>    <td><b>Пол</b></td>                         <td>женский</td> </tr>
                    {% endif %}
                    
                    <tr>    <td><b>Дата рождения</b></td>               <td>{{account.date_of_birth}}</td> </tr>
                    <tr>    <td><b>Телефон</b></td>                     <td>{{account.mobile_phone}}</td> </tr>
                    <tr>    <td><b>Электронная почта</b></td>           <td>{{account.email}}</td> </tr>
                    
                    {% if account.type_role == "охотник" %}
                    <tr>    <td><b>Номер охотничьего билета</b></td>    <td>{{account.ticket_num}}</td> </tr>
                    <tr>    <td><b>Адрес прописки</b></td>              <td>{{account.residence}}</td> </tr>
                    {% elif account.type_role == "егерь" %}
                    <tr>    <td><b>Номер сектора</b></td>               <td>{{account.id_sector}}</td> </tr>
                    <tr>    <td><b>Субъект</b></td>                     <td>{{account.ground_name}}</td> </tr>
                    {% endif %}
                </table>
            </div>







        </div>
    </div>

{% endblock %}