{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '\css\base_style.css' %}"/>
    {% block head_temp %}{% endblock %}
</head>
<body>
    <header>
        <nav class="container">
            <div class="logo">
                <!--<img src="{% static '\css\img\my_logo.svg' %}" alt="логотип" width="70" height="70">-->
                <span>О</span>
                <span>Б</span>
                <span>Щ</span>
                <span>Е</span>
                <span>С</span>
                <span>Т</span>
                <span>В</span>
                <span>О</span>
                <span>&nbsp;</span>
                <span>О</span>
                <span>Х</span>
                <span>О</span>
                <span>Т</span>
                <span>Н</span>
                <span>И</span>
                <span>К</span>
                <span>О</span>
                <span>В</span>
            </div>
        </nav>

        {% block name_info %}{% endblock %}
    </header>

    <main role="main">
        {% block table %}{% endblock %}
        {% block content %}{% endblock %}
    </main>


    <script src="{% static '\js\main.js' %}"></script>
</body>
</html>