{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '\css\base_style.css' %}"/>
    {% block head_temp %}{% endblock %}
</head>
<body>
    <header>
        <nav class="container">
            <div class="logo">
                <span>О</span>
                <span>Б</span>
                <span>Щ</span>
                <span>Е</span>
                <span>С</span>
                <span>Т</span>
                <span>В</span>
                <span>О</span>
                <span>&nbsp;</span>
                <span>О</span>
                <span>Х</span>
                <span>О</span>
                <span>Т</span>
                <span>Н</span>
                <span>И</span>
                <span>К</span>
                <span>О</span>
                <span>В</span>
            </div>
        </nav>

        {% block name_info %}{% endblock %}

    </header>

    <main role="main">
        {% block table %}{% endblock %}
        {% block content %}{% endblock %}
    </main>

</body>
</html>