{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '\css\base_style.css' %}"/>
    {% block head_temp %}{% endblock %}
</head>
<body>
    <header>
        <nav class="container">
            <div class="logo">
                <img src="{% static '\css\img\try4.svg' %}" alt="логотип" height="60">
            </div>
        </nav>

        {% block name_info %}{% endblock %}
    </header>

    <main role="main">
        {% block table %}{% endblock %}
        {% block content %}{% endblock %}
    </main>


    <script src="{% static '\js\main.js' %}"></script>
</body>
</html>