{% extends 'static\base.html' %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>

</body>
</html>

{% block title %}
{{ title }}
{% endblock %}


{% block info %}
    <h1>Попытка номер раз</h1>
    <h3>Начало</h3>
<form method="post">
    {% csrf_token %}
    {{ form.title }}<br><br>
    {{ form.info }}<br><br>
    <button type="submit" class="btn btn-input">Войти</button>
    <span>{{ error }}</span>
</form>

    {% if info %}
        {% for element in info %}
            <div style="background: pink">
                <h3>{{ element.title }}</h3>
                <p>{{ element.info }}</p>
                <!--<p>{{ element.email }}</p>-->
                <!--<h3>{{ element }}<h3>-->
            </div>
        {% endfor %}
    {% else %}
        <p>Нет записей</p>
    {% endif %}
    <h3>Конец!</h3>
{% endblock %}

<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="C:\msys64\home\bryan\CourseDataBase\code\DB\mysite\templates\main\style.css">
</head>
<body>
    <h1>Попытка номер раз</h1>
    <form method="post">
        {% for element in info %}
            <div class="alert alert-warning mt-2">
                <h3>{{ element.login }}</h3>
                <h3>{{ element.pswd }}</h3>
            </div>
        {% endfor %}
        <input type="text" placeholder="Логин" class="form-control"><br><br>
        <input type="text" placeholder="Пароль" class="form-control"><br><br>

        <button type="submit" class="btn btn-input">Войти</button>
    </form>
</body>
</html>-->
