<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<img src="https://huntmap.ru/karta-oxotnichix-ugodij-moskovskoj-oblasti" id="el" />
<script type="text/javascript">
var el = document.getElementById('el');
    el.addEventListener('click', getClickXY, false);
function getClickXY(event)
  {
    var clickX = (event.layerX == undefined ? event.offsetX : event.layerX) + 1;
    var clickY = (event.layerY == undefined ? event.offsetY : event.layerY) + 1;
    alert('Координаты клика: '+ clickX +' x '+ clickY);
  }
</script>

</body>
</html>