{% extends "static\base.html" %}{% load static %}

{% block title %} Общество охотников {% endblock %}

{% block head_temp %}
    <link rel="stylesheet" href="{% static '\css\style_new_password.css' %}"/>
    <link rel="icon" type="image/png" href="{% static '\css\img\favicon.ico' %}"/>
{% endblock %}

{% block content %}
<div class="limiter">
    <div class="container-new">
        <div class="wrap-new">
            <form class="new-form p-l-55 p-r-55 p-t-150" method="POST" action="{% url 'start:check_code' %}">
                {% csrf_token %}
                <span class="new-form-title">
                    Новый пароль
                </span>

                {% if error_message %}
                    <div class="alert alert-danger">
                        <strong>{{ error_message }}</strong>
                    </div>
                {% else %}
                    <span class="general-info">
                        Придумайте новый пароль
                    </span>

                    <div class="passwords">
                        <div class="input-password1">
                            <input class="input1"
                                   type="password"
                                   placeholder="Пароль"
                                   name="password"
                                   title="Используйте только латиницу, цифры и символы '._!@#$%&'. Максимальная длина - 40 символов."
                                   pattern="[A-Za-z0-9._!@#$%&]{1,40}"
                                   minlength="8"
                                   maxlength="40"
                                   required>
                        </div>

                        <div class="input-password2">
                            <input class="input1"
                                   type="password"
                                   placeholder="Повторите пароль"
                                   name="repeated_password"
                                   maxlength="40"
                                   required>
                        </div>
                    </div>

                    <div class="container-btn">
                        <button class="btn btn-in" type="submit" id="btn-in">
                            Готово
                        </button>
                    </div>
                {% endif %}

                <div class="exit m-b-13">
                    <a href="{% url 'start:start_page'%}">
                        Назад
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}