{% extends "static\general_extend.html" %}{% load static %}

{% block title %} Регистрация {% endblock %}

{% block head_temp %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static '\css\style_register.css' %}"/>
    <link rel="stylesheet" href="{% static '\css\style_new_voucher.css' %}"/>
    <link rel="icon" type="image/png" href="{% static '\css\img\reg.ico' %}"/>
{% endblock %}

{% block name_info %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="limiter">
        <div class="container-register">
            <div class="wrap-register" >
                <form class="register-form p-l-55 p-r-55 p-t-150" method="POST" action="{% url 'vouchers:create_by_huntsman' %}">
                    {% csrf_token %}
                    <span class="register-form-title">
                        Путёвка
                    </span>

                    {% if error_message %}
                        <div class="alert alert-danger">
                            <strong>{{ error_message }}</strong>
                        </div>
                    {% endif %}

                    {% if info_message %}
                        <div class="alert alert-danger">
                            <strong>{{ info_message }}</strong>
                        </div>
                    {% endif %}

                    <div class="input-ticket m-b-30 p-b-3">
                        <input type="text"
                                name="ticket_num"
                                placeholder="Номер охотничьего билета"
                                id="ticket_num"
                                class="input1"
                                maxlength="20"
                                title="Используйте только цифры."
                                pattern="[0-9]*"
                                required/>
                    </div>

                    <div class="container-btn m-b-30">
                        <a class="btn" id="btn-param" style="background-color: #caaa868f;"> 
                          Параметры
                        </a>
                    </div>
                
                    <div id="modal" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close">&times;  </span>
                                <h3>Укажите необходимые параметры</h3>
                            </div>
                  
                            <div style="display: flex; justify-content: center;">
                                <div class="voucher-table" style="padding-top: 30px;">
                                    {% if offers %}
                                    <div class="test1 alert alert-danger" style="display: none;">
                                        <strong>Неверное количество животных</strong>
                                    </div>

                                    <input 
                                        type="text" 
                                        id="find-voucher-ground" 
                                        class="find-voucher-ground" 
                                        onkeyup="FindNeedInput()" 
                                        pattern="[А-Яа-яЁё\-]*"
                                        placeholder="Поиск животного ...">
                        
                                    <div style="overflow: auto; height: 600px;">
                                        <table class="list-table" id="list-table">
                                            <tr>
                                                <th><b>Животное</b></th>
                                                <th><b>Цена, руб/шт</b></th>
                                                <th><b>Количество</b></th>
                                                <th><b>Выбрать</b></th>
                                            </tr>
                            
                                            {% for offer in offers %}
                                            <tr class="items">
                                                <td id="animal{{offer.id}}">{{offer.animal}}</td>
                                                <td id="price{{offer.id}}">{{offer.price}}</td>
                                                <td class="input-td" style="padding: 0px;">
                                                    <input
                                                        type='text'
                                                        maxlength="2"
                                                        min="1"
                                                        max="99"
                                                        class='input-num'
                                                        id={{offer.id}}
                                                        value="1"
                                                        pattern="[0-9]{1,2}">
                                                </td>
                                                <td> <a onclick="Chosen({{offer.id}})">Выбрать</a></td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                    {% else %}
                                    <h2> Доступных путёвок на данный момент нет </h2><br>
                                    {% endif %}
                                </div>  
                            </div> 
                        </div>
                    </div>
                    
                    <script>
                        var modal = document.getElementById("modal");
                        var btn = document.getElementById("btn-param");
                        var span = document.getElementsByClassName("close")[0];
                        var msg = document.getElementsByClassName("test1")[0];
                        console.log(msg)
                    
                        btn.onclick = function () {
                            modal.style.display = "block";
                            msg.style.display = "none";
                        }
                    
                        span.onclick = function () {
                            modal.style.display = "none";
                        }

                        function Chosen(id) {
                            var animal = document.getElementById('animal' + id).textContent;
                            var num = document.getElementById(id).value;
                            var price = document.getElementById('price' + id).textContent;
                            
                            var animal_field = document.getElementById("field-animal");
                            var num_field = document.getElementById("field-num");
                            var price_field = document.getElementById("field-price");
                            var res_id = document.getElementById("valuable-id");

                            if (!(0 < Number(num) && Number(num) < 100 )) {
                                msg.style.display = "block";
                                return;
                            }
                            
                            animal_field.setAttribute("value", animal);
                            num_field.setAttribute("value", num);
                            price_field.setAttribute("value", parseFloat(price)*Number(num));
                            res_id.setAttribute("value", id);
                            
                            modal.style.display = "none";
                        }
                    
                        window.onclick = function (event) {
                          if (event.target == modal) {
                            modal.style.display = "none";
                          }
                        }
                    </script>

                    
                        <div class="input-animal m-b-30">
                            <input class="input1 m-b-14"
                                    type="text"
                                    name="animal"
                                    id="field-animal"
                                    placeholder="Животное"
                                    readonly/>
                        </div>

                        <div class="input-num-animals m-b-30">
                            <input class="input1 m-b-14"
                                type="text"
                                name="amount_animals"
                                id="field-num"
                                placeholder="Количество"
                                readonly/>
                        </div>

                        <div class="input-sum m-b-30">
                            <input class="input1 m-b-14"
                                    type="text"
                                    name="price"
                                    id="field-price"
                                    placeholder="Итого, Руб"
                                    readonly>
                        </div>

                        <input id="valuable-id" type="hidden" name="id_pricelist">
                    

                    <div class="container-btn m-b-16">
                        <button class="btn btn-reg" type="submit">
                            Оформить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}