{% extends "static\base.html" %}{% load static %}

{% block title %} Общество охотников {% endblock %}

{% block head_temp %}
    <link rel="stylesheet" href="{% static '\css\style_recover_password.css' %}"/>
    <link rel="icon" type="image/png" href="{% static '\css\img\favicon.ico' %}"/>
{% endblock %}

{% block content %}
<div class="limiter">
    <div class="container-forget">
        <div class="wrap-forget">
            <form class="forget-form p-l-55 p-r-55 p-t-150" method="POST" action="{% url 'start:check_code' %}">
                {% csrf_token %}
                <span class="forget-form-title">
                    Сброс пароля
                </span>

                {% if error_message %}
                    <div class="alert alert-danger">
                        <strong>{{ error_message }}</strong>
                    </div>
                {% else %}
                    <span class="general-info">
                        На почту
                        <strong>{{ email }}</strong>
                        отправлено письмо с кодом.
                    </span>

                    <div class="input-code" id="input-code">
                        <input class="input1" type="text" name="num1" maxlength="1" onkeypress="Jump(1)" required>
                        <input class="input1" type="text" name="num2" maxlength="1" onkeypress="Jump(3)" required>
                        <input class="input1" type="text" name="num3" maxlength="1" onkeypress="Jump(5)" required>
                        <input class="input1" type="text" name="num4" maxlength="1" onkeypress="Jump(7)" required>
                    </div>

                    <div class="container-btn">
                        <button class="btn btn-in" type="submit" id="btn-in">
                            Готово
                        </button>
                    </div>
                {% endif %}

                <div class="exit m-b-13">
                    <a href="{% url 'start:start_page'%}">
                        Назад
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}