{% extends "static\base.html" %}{% load static %}

{% block title %} Регистрация {% endblock %}

{% block head_temp %}
    <link rel="stylesheet" href="{% static '\css\style_register.css' %}"/>
    <link rel="icon" type="image/png" href="{% static '\css\img\reg.ico' %}"/>
{% endblock %}

{% block content %}
    <div class="limiter">
        <div class="container-register">
            <div class="wrap-register">
                <form class="register-form p-l-55 p-r-55 p-t-150" method="POST" action="{% url 'start:register' %}">
                    {% csrf_token %}
                    <span class="register-form-title">
                        Форма регистрации
                    </span>

                    {% if data.error_message %}
                        <div class="alert alert-danger">
                            <strong>{{ data.error_message }}</strong>
                        </div>
                    {% endif %}

                    <div class="full-name">
                        <div class="input-surname m-b-16">
                            <label>ФИО</label>
                            <input
                                    class="input1 m-b-14"
                                    type="text"
                                    placeholder="Фамилия"
                                    maxlength="30"
                                    name="surname"
                                    value="{{ data.surname }}"
                                    title="Используйте только кириллицу и дефис"
                                    pattern="[А-Яа-яЁё\-]{1,30}"
                                    required />
                        </div>

                        <div class="input-firstname">
                            <label></label>
                            <input class="input1 m-b-14"
                                   type="text"
                                   placeholder="Имя"
                                   maxlength="30"
                                   name="firstname"
                                   value="{{ data.firstname }}"
                                   title="Используйте только кириллицу и дефис"
                                   pattern="[А-Яа-яЁё\-]{1,30}"
                                   required />
                        </div>

                        <div class="input-patronymic">
                            <label></label>
                            <input
                                    class="input1 m-b-14"
                                    type="text"
                                    placeholder="Отчество"
                                    maxlength="30"
                                    name="patronymic"
                                    value="{{ data.patronymic }}"
                                    pattern="[А-Яа-яЁё\-]{1,30}"
                                    title="Используйте только кириллицу и дефис">
                        </div>
                    </div>

                    <div class="bd-and-sex p-b-3">
                        <div class="input-bd">
                            <label for="date_of_birth">Дата рождения:</label>
                            <input
                                    class="input1 input2 m-b-16"
                                    type="date"
                                    placeholder="Дата рождения"
                                    name="date_of_birth"
                                    value="{{ data.date_of_birth }}"
                                    required>
                        </div>

                        <label>Пол:</label>
                        <div class="input-sex p-r-5">
                            <label>
                                {% if data.sex == "м" %}
                                <input class="input-male"
                                       type="radio"
                                       name="sex"
                                       value="м"
                                       checked
                                       required />
                                {% else %}
                                <input class="input-male"
                                       type="radio"
                                       name="sex"
                                       value="м"
                                       required />
                                 {% endif %}
                                Мужчина
                            </label>

                            <label>
                                {% if data.sex == "ж" %}
                                <input class="input-female"
                                       type="radio"
                                       name="sex"
                                       value="ж"
                                       checked
                                       required/>
                                {% else %}
                                <input class="input-female"
                                       type="radio"
                                       name="sex"
                                       value="ж"
                                       required/>
                                {% endif %}
                                Женщина
                            </label>

                        </div>

                        <div class="input-role m-b-16">
                            <label for="role">Статус:</label>
                            <p><select name="role" id="role" onchange="HiddenFields()" required>
                                {% if data.role %}
                                    <option disabled value="">Выберите статус</option>
                                {% else %}
                                    <option disabled value="" selected>Выберите статус</option>
                                {% endif %}

                                {% for key, value in roles.items %}
                                    {% if data.role == key %}
                                        <option selected value="{{key}}"> {{key}} </option>
                                    {% else %}
                                        <option value="{{key}}"> {{key}} </option>
                                    {% endif %}
                                {% endfor %}
                            </select></p>
                        </div>

                    </div>

                    <div class="contacts d-f m-b-16 p-b-3">
                        <div class="input-phone m-r-18">
                            <label>Контакты:</label>
                            <input class="input1"
                                   type="tel"
                                   placeholder="Мобильный телефон: +7-xxx-xxx-xx-xx"
                                   name="phone"
                                   title="Используйте только цифры. Формат: +7-xxx-xxx-xx-xx"
                                   pattern="[+]{1}[7]{1}-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                                   maxlength="16"
                                   value="{{ data.phone }}"
                                   required />
                        </div>

                        <div class="input-email">
                            <label></label>
                            <input class="input1"
                                   type="email"
                                   placeholder="Электронная почта"
                                   name="email"
                                   maxlength="50"
                                   title="Используйте только латиницу, цифры и символы '.-_@'. Максимальная длина - 50 символов"
                                   pattern="[A-Za-z.0-9_-]{1,40}@[a-z0-9_]{1,10}\.[a-z]{1,5}"
                                   value="{{ data.email }}"
                                   required >
                        </div>
                    </div>

                    {% if data.role == "hunter" or data.role == "охотник"%}
                        <div class="add-info d-f m-b-14 p-b-3" id="add-info" style="display:flex;">
                    {% else %}
                        <div class="add-info d-f m-b-14 p-b-3" id="add-info" style="display:none;">
                    {% endif %}
                            <div class="input-address m-r-18">
                                    <label id="label-info">Дополнительная информация:</label>
                                    <input name="residence"
                                           type="text"
                                           placeholder="Адрес прописки"
                                           class="input1"
                                           maxlength="100"
                                           value="{{ data.residence }}"
                                           id="address"
                                           /> <!--required-->
                            </div>

                            <div class="input-ticket-num m-b-14 p-b-3">
                                <label></label>
                                <input type="text"
                                       name="ticket_num"
                                       placeholder="Номер охотничьего билета"
                                       id="ticket_num"
                                       class="input1"
                                       value="{{ data.ticket_num }}"
                                       maxlength="20"
                                       title="Используйте только цифры."
                                       pattern="[0-9]*"
                                       /> <!--required-->
                            </div>
                        </div>
                    {% if data.role == "huntsman" or data.role == "егерь"%}
                        <div class="add-work d-f m-b-14 p-b-3" id="add-work" style="display:flex;">
                    {% else %}
                        <div class="add-work d-f m-b-14 p-b-3" id="add-work" style="display:none;">
                    {% endif %}
                            <div class="input-ground m-r-18">
                                <label id="label-work">Субъект и номер сектора:</label>
                                <p><select name="hunting_grounds" id="hunting_grounds" onchange="GetSectors()"> <!--required-->
                                    <option disabled value="" selected>Выберите субъект</option>
                                    {% for key, value in hunting_grounds.items %}
                                        <option value="{{value}}"> {{key}} </option>
                                    {% endfor %}
                                </select></p>
                            </div>

                            <div class="input-sector m-b-14 p-b-3">
                                <label></label>
                                <p><select name="sectors" id="sectors"> <!--required-->
                                    <option disabled value="" selected>Выберите сектор</option>
                                </select></p>
                            </div>
                        </div>


                        <script>
                            function GetSectors() {
                                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                                var elem = document.getElementById("hunting_grounds").value;

                                const request = new XMLHttpRequest();
                                const url = "{% url 'start:get_sectors' %}";
                                const params = "id=" + elem;

                                request.responseType =	"json";
                                request.open("POST", url, true);
                                request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                                request.setRequestHeader("X-CSRFToken", csrftoken);

                                request.addEventListener("readystatechange", () => {

                                if (request.readyState === 4 && request.status === 200) {
                                    let obj = request.response;

                                    console.log(obj.id);

                                    var docfrag = document.createDocumentFragment();

                                    for (var i = 0; i < obj.id.length; i++)
                                    {
                                         docfrag.appendChild(new Option(obj.id[i], obj.id[i]));
                                    }

                                    var select = document.getElementById("sectors");
                                    select.innerHTML = "";

                                    if (obj.id.length === 0) {
                                        select.appendChild(new Option("Нет доступных", null));
                                    }
                                    else {
                                        select.appendChild(docfrag);
                                    }
                                }
                            });
                                console.log(document.getElementById("sectors"));
                                request.send(params);
                            }
                        </script>

                    <div class="login-password">
                        <div class="input-login">
                            <label>Логин и пароль:</label>
                            <input class="input1"
                                   type="text"
                                   placeholder="Логин"
                                   name="login"
                                   title="Используйте только латиницу, цифры и символ '_'. Максимальная длина - 20 символов."
                                   pattern="[A-Za-z0-9_]{1,20}"
                                   minlength="5"
                                   maxlength="20"
                                   value="{{ data.login }}"
                                   required>
                        </div>

                        <div class="input-password1">
                            <label></label>
                            <input class="input1"
                                   type="password"
                                   placeholder="Пароль"
                                   name="password"
                                   title="Используйте только латиницу, цифры и символы '._!@#$%&'. Максимальная длина - 40 символов."
                                   pattern="[A-Za-z0-9._!@#$%&]{1,40}"
                                   minlength="8"
                                   maxlength="40"
                                   value="{{ data.password }}"
                                   required>
                        </div>

                        <div class="input-password2">
                            <label></label>
                            <input class="input1"
                                   type="password"
                                   placeholder="Повторите пароль"
                                   name="repeated_password"
                                   value="{{ data.repeated_password }}"
                                   required>
                        </div>
                    </div>

                    <div class="container-btn">
                        <button class="btn btn-reg" type="submit">
                            Зарегистрироваться
                        </button>
                    </div>

                    <div class="exit m-b-13">
                        <a href="{% url 'start:start_page'%}">
                            Назад
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>


{% endblock %}