{% extends "static\general_extend.html" %}{% load static %}

{% block title %} Егеря {% endblock %}

{% block head_temp %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static '\css\style_all.css' %}" />
{% endblock %}

{% block content %}
<div class="show-find-params">
  {% csrf_token %}
  <div class="find-form p-l-25 p-r-25 p-t-30">

      {% if info_message %}
          <div class="alert-info">
              <strong>{{ info_message }}</strong>
          </div>
      {% endif %}

      {% if error_message %}
          <div class="alert-danger">
              <strong>{{ error_message }}</strong>
          </div>
      {% endif %}

      <div class="container-btn">
        <button class="btn btn-find" id="btn-find">
          Указать параметры поиска
        </button>

        <div class="exit m-b-13">
          <a href="{% url 'huntsmen:show_huntsmen' %}">
            Сбросить фильтр
          </a>
      </div>

      </div>

      <div id="modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
              <span class="close">&times;  </span>
              <h3>Укажите параметры поиска</h3>
            </div>
  
            <form class="modal-body" method="POST" action="{% url 'huntsmen:find' %}">
              {% csrf_token %}
              <div class="full-name">
                <div class="input-ground m-b-16 m-t-40">
                    <p><select name="id_husbandry" id="hunting_grounds">
                        <option disabled value="" selected>Субъект</option>
                        {% for key, value in hunting_grounds.items %}
                            <option value="{{value}}"> {{key}} </option>
                        {% endfor %}
                    </select></p>
                </div>

                <div class="input-surname m-t-30">
                  <input
                          class="input1 m-b-14"
                          type="text"
                          placeholder="Фамилия"
                          maxlength="30"
                          name="surname"
                          title="Используйте только кириллицу и дефис"
                          pattern="[А-Яа-яЁё\-]{1,30}"/>
                </div>

                <div class="input-firstname m-t-30">
                  <input class="input1 m-b-14"
                        type="text"
                        placeholder="Имя"
                        maxlength="30"
                        name="firstname"
                        title="Используйте только кириллицу и дефис"
                        pattern="[А-Яа-яЁё\-]{1,30}"/>
                </div>

                <div class="input-patronymic m-b-16 m-t-30">
                  <input
                          class="input1 m-b-14"
                          type="text"
                          placeholder="Отчество"
                          maxlength="30"
                          name="patronymic"
                          pattern="[А-Яа-яЁё\-]{1,30}"
                          title="Используйте только кириллицу и дефис">
                </div>

                <div class="container-btn m-b-16 m-t-40">
                  <button class="btn btn-find" type="submit">
                      Найти
                  </button>
                </div>
              </form>
          </div>
        </div>
      </div>

      <script>
        var modal = document.getElementById("modal");
        var btn = document.getElementById("btn-find");
        var span = document.getElementsByClassName("close")[0];
    
        btn.onclick = function () {
          modal.style.display = "block";
        }
    
        span.onclick = function () {
          modal.style.display = "none";
        }
    
        window.onclick = function (event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
      </script>


      <div class="p-t-30">
        {% if huntsmen %}
        <div class="hunter-table">
            <input 
                type="text" 
                id="find-voucher-ground" 
                class="find-voucher-ground" 
                onkeyup="FindNeed()" 
                pattern="[А-Яа-яЁё\-]*"
                placeholder="Поиск субъекта ...">
        </div>

        <table class="list-table" id="list-table">
          <tr>
            <th><b>ФИО</b></th>
            <th><b>Дата рождения</b></th>
            <th><b>Телефон</b></th>
            <th><b>Электронная почта</b></th>
            <th><b>Субъект</b></th>
            <th><b>Сектор</b></th>
            <th><b>Удалить аккаунт</b></th>
          </tr>

          {% for elem in huntsmen %}
              <tr class="items">
                <td>{{elem.full_name}}</td>
                <td>{{elem.date_of_birth}}</td>
                <td>{{elem.mobile_phone}}</td>
                <td>{{elem.email}}</td>
                <td>{{elem.ground_name}}</td>
                <td>{{elem.id_sector}}</td>
                <td><a href="{% url 'huntsmen:reject_reg' elem.login %}" class="btn-del"> ✖ </a></td>
              </tr>
          {% endfor %}
      </table>
      {% else %}
      <div class="alert alert-exist">
          <strong>Егерей нет</strong>
      </div>
      {% endif %}

      </div>
      
    </div>
</div>

{% endblock %}