<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет охотника</title>
    <link rel="stylesheet" href="static\css\style_hunter.css">
    <link rel="icon" type="image/png" href="static\css\img\favicon.ico"/>
</head>
<body>
    <header>
        <span>О</span>
        <span>Б</span>
        <span>Щ</span>
        <span>Е</span>
        <span>С</span>
        <span>Т</span>
        <span>В</span>
        <span>О</span>
        <span>•</span>
        <span>О</span>
        <span>Х</span>
        <span>О</span>
        <span>Т</span>
        <span>Н</span>
        <span>И</span>
        <span>К</span>
        <span>О</span>
        <span>В</span>
    </header>

</body>
</html>