{% extends "static\base.html" %}{% load static %}

{% block title %} Общество охотников {% endblock %}

{% block head_temp %}
    <link rel="stylesheet" href="{% static '\css\style_start.css' %}"/>
    <link rel="icon" type="image/png" href="{% static '\css\img\favicon.ico' %}"/>
{% endblock %}

{% block content %}
    <div class="limiter">
        <div class="container-login">
            {% if data.info_message %}
                <div class="alert-info">
                    <strong>{{ data.info_message }}</strong>
                </div>
            {% endif %}
            <div class="wrap-login">
                <form class="login-form p-l-55 p-r-55 p-t-178" method="POST" action="{% url 'start:authorise' %}">
                    {% csrf_token %}
                    <span class="login-form-title">
                        Личный кабинет
                    </span>

                    {% if error_message %}
                        <div class="alert alert-danger">
                            <strong>{{ error_message }}</strong>
                        </div>
                    {% endif %}

                    <div class="input-username m-b-16">
                        <input class="input1 m-b-16" type="text" name="username" placeholder="Логин" id="login" required>
                    </div>

                    <div class="input-password validate-input m-b-16">
                        <input class="input1 m-b-16" type="password" name="password" placeholder="Пароль" required>
                    </div>

                    <div class="forgot-smth m-b-13">
                        <a class="a1 txt1" href="#" onclick="RecoverPassword()">
                            Не помню пароль
                        </a>
                    </div>

                    <div class="container-btn">
                        <button class="btn btn-in" type="submit" id="btn-in">
                            Вход
                        </button>
                    </div>

<!--                    <div class="container-btn">-->
<!--                        <button class="btn btn-reg">-->
<!--                            Регистрация-->
<!--                        </button>-->
<!--                    </div>-->

                    <div class="container-btn">
                        <a href="{% url 'start:register_form'%}" class="btn btn-reg">
                            Регистрация
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}