<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет охотника</title>
    <link rel="stylesheet" href="static\css\style_hunter.css">
    <link rel="icon" type="image/png" href="static\css\img\favicon.ico"/>
</head>
<body>
    <header>
        <nav class="container">
            <div class="logo">
                <span>О</span>
                <span>Б</span>
                <span>Щ</span>
                <span>Е</span>
                <span>С</span>
                <span>Т</span>
                <span>В</span>
                <span>О</span>
                <span>•</span>
                <span>О</span>
                <span>Х</span>
                <span>О</span>
                <span>Т</span>
                <span>Н</span>
                <span>И</span>
                <span>К</span>
                <span>О</span>
                <span>В</span>
            </div>
        </nav>

        <div class="user-img">
            <p><img src="static/css/img/user2.png" alt="Охотник" width="33"></p>
        </div>

        <div class="user-name">Иванов Иван Иванович</div>
    </header>

    <ul class="main-menu">
        <li class="active">
            <a href="#url">О себе</a>
        </li>
        <li class="menu-children">
            <a href="#url">Путёвки</a>
            <ul>
                <li><a href="#url">Купить</a></li>
                <li><a href="#url">Просмотреть свои</a></li>
                <!--<li class="menu-children">
                    <a href="#url">Подразделы</a>
                    <ul>
                        <li><a href="#url">Подраздел 1</a></li>
                        <li><a href="#url">Подраздел 2</a></li>
                    </ul>
                </li>-->
            </ul>
        </li>
        <li><a href="#url">Контакты егерей</a></li>
        <li><a href="#url">Цены</a></li>
        <li><a href="#url">Карта</a></li>
    </ul>



</body>
</html>