* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

a {
	font-size: 18px;
	color: black;
    display: block;
}

a:focus {
	outline: none;
}

a:hover {
    text-decoration: none;
    color: #1b3815;
}

input {
	outline: none;
}

input:focus {
    color: black;
    font-weight: bold;
}

body, html {
	height: 100%; /**/
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.5)), url(img/new.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* логотип */
.logo {
   display: block;
   float: left;
   color: red;
   padding-left: 10px;
}
.logo span {
   color: black;
   font-weight: bold;
   display: inline-block;
   width: 30px;
   height: 30px;
   line-height: 30px;
   border-radius: 50%;
   margin: 5px 0;
   text-align: center;

   border: solid 1px;
   border-color: black;
}
.logo span:nth-child(odd) {
   background: #d1ab81;
}
.logo span:nth-child(even) {
   background: #c68f3f;
}

header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;

   width: 100%;
   box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
   position: relative;

   border-bottom: solid 2px; /*line bottom logo*/
   border-color: #946e29;
}

.user-img {
    position: absolute;
    top: 10%;
    right: 1%;
}

.user-name {
    position: absolute;
    top: 15%;
    right: 4%;

    font-family: JosefinSans;
    font-weight: bold;
    font-size: 22px;
    color: black;
    line-height: 2;
}

.alert {
    font-family: JosefinSans;
    font-weight: bold;
    font-size: 18px;
    color: black;
    line-height: 1;

    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    /*border-radius: 20px;*/
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-info {
    font-family: JosefinSans;
    font-weight: bold;
    font-size: 20px;
    color: black;
    line-height: 1.2;

    padding: 1.25rem 1.25rem;
    margin-bottom: 3rem;
    border: 1px solid transparent;

    background-color: #5ad17aa9;/*#d4edda;*/

    text-align: center;
    width: 23%;
}

.main-menu {
    list-style: none;
    /*padding-left: 55px;
    padding-right: 55px;
    /*margin-top: 30px;*/

    font-family: JosefinSans;
    font-weight: bold;
    font-size: 30px;
    color: black;
    line-height: 1.2;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-menu > li {
    /*display: inline-flex;*/
    background-color: #B98853;
    flex-grow: 1;
    height: 40px;

    border: solid 2px;
    border-color: black;
}

.main-menu > li + li {
    /*margin-left: 20px;*/
}

.main-menu > li > a {
    padding: 0 0 20px 0;
    position: relative;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    line-height: 1.2;
    text-align: center;
}

.main-menu > li > a:hover {
    text-decoration: none;
    color: white;
}

/*.main-menu > li > a:after {
    width: 0;
    height: 3px;
    background-color: #337AB7;
    content: '';
    left: 0;
    bottom: 10px;
    position: absolute;
    transition: all .3s;
}*/
/*.main-menu > li > a:hover::after {
    width: 100%;
}
.main-menu > li.active a:after {
    width: 100%;
}*/
.main-menu li:hover {
    background: #d1ab81;
}

.main-menu li.menu-children {
    position: relative;
    /*margin-right: 12px;*/
}
/*.main-menu li.menu-children:after {
    position: absolute;
    content: "5";
    color: #337AB7;
    font-size: 20px;
    font-weight: bold;
    right: -12px;
    top: -2px;
    transform: rotate(-90deg);
}*/
/*.main-menu li li.menu-children:after {
    position: absolute;
    content: "\2039";
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    right: 10px;
    top: 12px;
    transform: rotate(180deg);
}*/
.main-menu li.menu-children:hover > ul {
    opacity: 1;
    visibility: visible;
    transform: translateX(27px);
}
.main-menu ul {
    /*padding: 10px 0;*/ /**/
    /*margin: 0;*/
    /*list-style: none;*/
    background-color: #B98853;
    position: absolute;
    z-index: 20;
    min-width: 100%;
    top: 100%;
    left: -27px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(2px);

    border: solid 2px;
    border-color: black;
    text-align: left;
}
.main-menu ul li {
    display: block;
    /*padding: 0 10px;*/
    line-height: 1.1;
}
/*.main-menu ul li:last-child {
    margin-bottom: 0;
}*/

/* Выпадающее меню */
.main-menu ul li a {
    display: block;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    transition: all .3s;
    text-decoration: none;
}

.main-menu ul li a:hover {
    color: black;
    background: #d1ab81;
    text-decoration: none;
}

.find-voucher-ground {
    background-image: url('img/find.png');
    background-size: 25px, 25px;
    background-position: 10px 10px;
    background-repeat: no-repeat; 
    
    font-family: JosefinSans;
    font-size: 18px;
    padding: 12px 20px 12px 40px;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 12px;
    width: 100%;
}

.list-table {
    font-family: JosefinSans;
    font-size: 21px;
    color: black;
    line-height: 1;
    text-align: left;

    border-spacing: 0;
    border: 1px solid black;
    width: 100%;
    background-color: #d1ab81c6;

    border-radius: 20px 20px 0px 0px;
}

.list-table th {
    padding: 15px;
    padding-left: 25px;
    border-left: 1px solid black;
}

.list-table td {
    padding: 10px;
    background-clip: padding;
    border-collapse: collapse;
    border-left: 1px solid black;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid black;/**/
}  

.list-table tr {
    border-bottom: 1px solid black;
}

.list-table tr:first-child {
    background: linear-gradient(#b37f47, #d1a777);
    border-left: 1px solid black;
}

.list-table tr:first-child th:first-child{
    border-radius: 20px 0px 0px 0px; /*20 0 0 0*/
}

.list-table tr:first-child th:last-child{
    border-radius: 0px 20px 0px 0px; /* 0 20 0 0 */
}

.list-table tr:last-child td:first-child{
    border-radius: 0px 0px 0px 0px;
}

.list-table tr:last-child td:last-child{
    border-radius: 0px 0px 0px 0px;
}

.list-table a {
    display: block;
}

.list-table tr.items:hover {
    background-color: #f1f1f1;
    /*border: 1px solid black;*/
}


.p-t-30 {
    padding-top: 30px;
}

.p-t-150 {
    padding-top: 150px;
}

.p-t-178 {
    padding-top: 178px;
}

.p-l-2 {
    padding-left: 5px;
}

.p-l-25 {
    padding-left: 25px;
}

.p-l-55 {
    padding-left: 55px;
}

.p-r-5 {
    padding-right: 5px;
}

.p-r-25 {
    padding-right: 25px;
}

.p-r-55 {
    padding-right: 55px;
}

.p-b-3 {
    padding-bottom: 3px;
}

.m-t-13 {
    margin-top: 13px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-b-13 {
    margin-bottom: 13px;
}

.m-b-14 {
    margin-bottom: 14px;
}

.m-b-16 {
    margin-bottom: 16px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-r-18 {
    margin-right: 18px;
}

.d-f {
    display: flex;
}
