.register-form-title {
    background: linear-gradient(#b37f47, #d1a777);
    border: 2px solid black;
    padding-top: 8px;
    padding-bottom: 9px;
    font-size: 28px;
}

.register-form {
    padding-top: 90px;
}

.bnt {
    background-color: linear-gradient(#bd895569, #caaa868f);
    margin-bottom: 20px;
    transition: all 0.4s;
}

.input-num {
    height: 40px;
    text-align: center;
    font-family: JosefinSans;
    font-size: 20px;
    background: #d1ab81c6;
    border: none;
}

.list_table {
    display: inline-block; overflow: auto;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 2px solid black;
  border-radius: 25px;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  font-family: JosefinSans;
  font-weight: bold;
  font-size: 22px;
  color: black;
  line-height: 2;
  text-align: center;

  /*padding: 2px 16px;*/
  background-color: #c78b4c;
  border-radius: 20px 20px 0px 0px;
}

.modal-body {
  display: flex;
  justify-content: center;
}

.param-data {
  display: flex;
  justify-content: space-between;
}

.input-animal, .input-num-animals, .input-sum {
  width: 400px;
  background-color: #fff;

  border-radius: 20px;
  position: relative;
}