.personal-info {
   display: flex;
   /*flex-direction: row;*/
   /*justify-content: space-start;*/
   margin: 100px;
}

.user-photo {
    padding-right: 100px;
    padding-top: 50px;
}

.user-table {
    width: 100%;
}

table {
    font-family: JosefinSans;
    font-weight: bold;
    font-size: 19px;
    color: black;
    line-height: 1.5;
    text-align: left;
}

th, td {
  padding: 15px 15px;
}

td {
  border: 1px solid black;
}

tr:first-child td:first-child {
  border-radius: 20px 0px 0px 0px;
}

tr:first-child td:last-child {
  border-radius: 0px 20px 0px 0px;
}

tr:last-child td:first-child {
  border-radius: 0px 0px 0px 20px;
}

tr:last-child td:last-child {
  border-radius: 0px 0px 20px 0px;
}

.profile-table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid black;
  border-radius: 20px 20px 20px 20px;
}

.profile-table td {
  text-align: left;
  padding: 15px;
  background-color: #d1ab81c6;
}


.profile-table tr {
  border: 1px solid black;
}

.profile-table td:first-child {
  background: linear-gradient(#b37f47, #d1a777);
  width: 25%;
  text-transform: uppercase;
}
