.p-l-55 {
    padding-left: 55px;
}

.p-r-55 {
    padding-right: 55px;
}

.p-t-150 {
    padding-top: 150px;
}

.m-b-13 {
    margin-bottom: 13px;
}

a {
	font-size: 18px;
	color: black;
}

a:focus {
	outline: none;
}

a:hover {
    text-decoration: none;
    color: #1b3815;
}

.limiter
{
    width: 100%;
    margin: 0 auto;
}

.container-forget
{
    width: 100%;
    min-height: 90vh; /*470px 90vh*/
    display: flex;
    flex-wrap: wrap; /**/
    justify-content: center;
    align-items: center;
    /*padding: 15px;*/ /*убрать, иначе - скролл снизу*/
    position: relative;/**/
}

.wrap-forget
{
    width: 23%;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
}

.forget-form
{
    width: 100%;
    position: relative;
}

.forget-form-title
{
    font-family: JosefinSans;
    font-weight: bold;
    font-size: 30px;
    color: black;
    line-height: 1.2;
    text-align: center;

    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: #B98853;
    border-radius: 20px 20px 0px 0px;
    padding-top: 50px;
    padding-bottom: 39px;
}

.alert {
    font-family: JosefinSans;
    font-weight: bold;
    font-size: 18px;
    color: black;
    line-height: 1;

    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    /*border-radius: 20px;*/
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.general-info {
    font-family: JosefinSans;
	font-size: 20px;
	color: black;
	line-height: 1.2;

	position: relative;
	display: block;/**/
	width: 100%;
	padding-bottom: 35px;
}


.input-code {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.input1
{
	font-family: JosefinSans;
	font-size: 23px;
	color: black;
	font-weight: bold;
	line-height: 1.2;
    text-align: center;

	position: relative;
	display: block;/**/
	width: 23%;
	height: 55px;
	border-radius: 20px;
	padding: 0px 15px 0 15px;
}

.container-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.btn {
    width: 100%;
    height: 50px;
    border-radius: 20px;

    font-family: JosefinSans;
    font-weight: bold;
    font-size: 22px;
    color: black;
    line-height: 2;
    margin-bottom: 16px;

    text-decoration: none; /*without ___link___*/

    border: solid 2px;
    border-radius: 20px;
    border-color: black;
}

.btn:hover {
    background: #814B38;
    cursor: pointer;
}

.btn-in {
    background: #B98853;
    transition: all 0.4s;
}

.exit {
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}

@media (max-width: 576px) {
  .forget-form {
    padding-left: 55px;
    padding-right: 55px;
  }
}
