.limiter
{
    width: 100%;
    margin: 0 auto;
}

.container-register
{
    width: 100%;
    /*min-height: 90vh;*/
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap; /**/
    justify-content: center;
    align-items: center;
    /*padding: 15px;*/ /*убрать, иначе - скролл снизу*/
    position: relative;/**/
    /*background-color: #fff;/**/
}

.wrap-register
{
    width: 70%;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
}

.register-form
{
    width: 100%;
    position: relative;
}

.register-form-title
{
    font-family: JosefinSans;
    font-weight: bold;
    font-size: 30px;
    color: black;
    line-height: 1.2;
    text-align: center;

    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: #B98853;
    border-radius: 20px 20px 0px 0px;
    padding-top: 50px;
    padding-bottom: 39px;
}

.full-name {
    display: flex;
    justify-content: space-between;
}

.login-password {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.input-surname, .input-firstname, .input-patronymic {
    width: 400px;
    background-color: #fff;

    border-radius: 20px;
    position: relative;

    z-index: 1;/**/
}

.input-bd {
    width: 32.5%;
    margin-right: 1px;
}

.input-sex {
	width: 32.5%;
	padding: 20px;
	/*padding-left: 5%;*/
}

.input-male, .input-female {
    width: 8%;
    height: 16px;
}

.input-email, .input-phone {
    width: 32.5%;
}

.input-role {
    width: 400px;
}

.input-address, .input-ground {
    width: 67.5%;
}

.input-ticket-num, .input-sector {
    width: 32.5%;
}

.input-login, .input-password1, .input-password2 {
    width: 32.5%;
}

.bd-and-sex {
    display: flex;
    justify-content: space-between;
}

.input1 {
	font-family: JosefinSans;
	font-size: 20px;
	color: black;
	font-weight: bold;
	line-height: 1.2;

	position: relative;
	display: block;/**/
	width: 100%;
	height: 50px;
	border-radius: 20px;
	padding: 0px 15px 0 15px;/**/
}

.input1::placeholder {
    font-family: JosefinSans;
	font-size: 20px;
	line-height: 1.2;
    color: #ABAAAA;
}

.input2 {
    color: #ABAAAA;
}

label {
    font-family: JosefinSans;
	font-size: 20px;
	color: black;

	margin-left: 5px;
}

select {
    font-family: JosefinSans;
	font-size: 20px;
    color: black;
	line-height: 1.2;

	position: relative;
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 20px;
	border-line: black;
	border-width: 2px;
	padding: 0px 15px 0 15px;
}
select:not(:checked) {
    color: #ABAAAA;
}

option::selected {
    color: black;
}


.container-btn {
    width: 100%;
    display: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.btn {
    width: 100%;
    height: 50px;
    border-radius: 20px;

    font-family: JosefinSans;
    font-weight: bold;
    font-size: 22px;
    color: black;
    line-height: 2;
    margin-bottom: 16px;

    text-decoration: none; /*without ___link___*/

    border: solid 2px;
    border-radius: 20px;
    border-color: black;
}

.btn:hover {
    background: #814B38;
    cursor: pointer;
}

.btn-reg {
    background: #B98853;
    margin-bottom: 20px;
    transition: all 0.4s;
}

.exit {
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}

@media (max-width: 576px) {
  .register-form {
    padding-left: 55px;
    padding-right: 55px;
  }
}

input:invalid, select:invalid  {
    border: 2px solid red;
}



