* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%; /**/
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.5)), url(img/new.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*display: flex;
   flex-direction: row;
   justify-content: space-between;*/


header {
   width: 100%;
   box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
   padding: 15px;
   /*margin-bottom: 30px;*/
   position: relative;
   /*padding-bottom: 50px;*/

   border-bottom: solid 2px; /*line bottom logo*/
   border-color: #946e29;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

/* логотип */
.logo {
   display: block;
   float: left;
   color: red;
   padding-left: 10px;
}
.logo span {
   color: white;
   display: inline-block;
   width: 30px;
   height: 30px;
   line-height: 30px;
   border-radius: 50%;
   margin: 5px 0;
   text-align: center;
   text-shadow: 2px 2px 1px rgba(0, 0, 0, .4);
}
.logo span:nth-child(odd) {
   background: #d1ab81;
}
.logo span:nth-child(even) {
   background: #c68f3f;
}

.user-img {
    position: absolute;
    top: 10%;
    right: 1%;
}

.user-name {
    position: absolute;
    top: 15%;
    right: 4%;

    font-family: JosefinSans;
    font-weight: bold;
    font-size: 22px;
    color: black;
    line-height: 2;
}

.main-menu {
    list-style: none;
    /*padding-left: 55px;
    padding-right: 55px;
    /*margin-top: 30px;*/

    font-family: JosefinSans;
    font-weight: bold;
    font-size: 30px;
    color: black;
    line-height: 1.2;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-menu > li {
    /*display: inline-flex;*/
    background-color: #B98853;
    flex-grow: 1;
    height: 40px;

    border: solid 2px;
    border-color: black;
}

.main-menu > li + li {
    /*margin-left: 20px;*/
}

.main-menu > li > a {
    padding: 0 0 20px 0;
    position: relative;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    line-height: 1.2;
    text-align: center;
}

/* Надпись на пунктах меню */
.main-menu > li > a:hover {
    text-decoration: none;
    color: white;
}

/*.main-menu > li > a:after {
    width: 0;
    height: 3px;
    background-color: #337AB7;
    content: '';
    left: 0;
    bottom: 10px;
    position: absolute;
    transition: all .3s;
}*/
/*.main-menu > li > a:hover::after {
    width: 100%;
}
.main-menu > li.active a:after {
    width: 100%;
}*/
.main-menu li {
    margin: 0;
    white-space: nowrap;
}
.main-menu li.menu-children {
    position: relative;
    /*margin-right: 12px;*/
}
/*.main-menu li.menu-children:after {
    position: absolute;
    content: "5";
    color: #337AB7;
    font-size: 20px;
    font-weight: bold;
    right: -12px;
    top: -2px;
    transform: rotate(-90deg);
}*/
/*.main-menu li li.menu-children:after {
    position: absolute;
    content: "\2039";
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    right: 10px;
    top: 12px;
    transform: rotate(180deg);
}*/
.main-menu li.menu-children:hover > ul {
    opacity: 1;
    visibility: visible;
    transform: translateX(27px);
}
.main-menu ul {
    /*padding: 10px 0;*/ /**/
    /*margin: 0;*/
    /*list-style: none;*/
    background-color: #B98853;
    position: absolute;
    z-index: 20;
    min-width: 220px;
    top: 100%;
    left: -30px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(2px);

    border: solid 2px;
    border-color: black;
    text-align: left;
    /*transition: all 200ms cubic-bezier(0.43, 0.59, 0.16, 1.25);*/
}
.main-menu ul li {
    display: block;
    /*padding: 0 10px;*/
    line-height: 1.1;
}
/*.main-menu ul li:last-child {
    margin-bottom: 0;
}*/

/* Выпадающее меню */
.main-menu ul li a {
    display: block;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    transition: all .3s;
    text-decoration: none;
}

.main-menu ul li a:hover {
    color: black;
    background: #d1ab81;
    text-decoration: none;
}

/*.main-menu ul ul {
    top: 0;
    left: 100%;
}*/