{% extends "static\base.html" %}{% load static %}

{% block title %} Личный кабинет егеря {% endblock %}

{% block head_temp %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static '\css\style_huntsman.css' %}"/>
    <link rel="icon" type="image/png" href="{% static '\css\img\huntsman.ico' %}"/>
{% endblock %}

{% block name_info %}
    <div class="exit-img">
        <p>
            <a href="{% url 'start:exit_from'%}">
                <img src="{% static '\css\img\exit.png' %}" alt="Выход" width="33" style="margin-right: 20px; margin-top: 10px;">
            </a>
        </p>
    </div>

    <div class="user-name">
        {{ account.surname }} {{ account.firstname }} {{ account.patronymic}}
    </div>
{% endblock %}

{% block table %}
    <ul class="main-menu">
        <li class="active">
            <a href="{% url 'users:about' %}">Обо мне</a>
        </li>
        <li class="menu-children">
            <a href="#url">Путёвки</a>
            <ul>
                <li><a href="#url">Поиск</a></li>
                <li><a href="{% url 'vouchers:requests' %}">Заявки</a></li>
                <li><a href="{% url 'vouchers:create_voucher' %}">Выдать новую</a></li>
                <li><a href="{% url 'vouchers:huntsman_vouchers' %}">Путёвки моего сектора</a></li>
                <li><a href="#url">Сводная по секторам</a></li>
            </ul>
        </li>
        <li><a href="{% url 'huntsmen:contacts' %}">Контакты егерей</a></li>
        <li><a href="{% url 'hunters:show_all' %}">Охотники</a></li>
    </ul>
{% endblock %}
