{% extends "static\base.html" %}{% load static %}

{% block title %} Личный кабинет охотника {% endblock %}

{% block head_temp %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static '\css\style_hunter.css' %}"/>
    <link rel="icon" type="image/png" href="{% static '\css\img\hunter.ico' %}"/>
{% endblock %}


{% block name_info %}
    <div class="exit-img">
        <p>
            <a href="{% url 'start:exit_from'%}">
                <img src="{% static '\css\img\exit.png' %}" alt="Выход" width="33">
            </a>
        </p>
    </div>

    <div class="user-name">
        {{ account.surname }} {{ account.firstname }} {{ account.patronymic}}
    </div>
{% endblock %}

{% block table %}
    <ul class="main-menu">
        <li class="active">
            <a href="{% url 'users:account' account.login %}">Обо мне</a>
        </li>
        <li class="menu-children">
            <a href="#url">Путёвки</a>
            <ul>
                <li><a href="#url">Купить</a></li>
                <li><a href="#url">Просмотреть свои</a></li>
                <!--<li class="menu-children">
                    <a href="#url">Подразделы</a>
                    <ul>
                        <li><a href="#url">Подраздел 1</a></li>
                        <li><a href="#url">Подраздел 2</a></li>
                    </ul>
                </li>-->
            </ul>
        </li>
        <li><a href="#url">Контакты егерей</a></li>
        <li><a href="#url">Цены</a></li>
        <li><a href="#url">Карта</a></li>
    </ul>
{% endblock %}
